.container_form_position{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.container_form_login{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.navbar img{
    width: 300px;
}

.btn_connexion_submit:hover{
    background-color: rgb(18, 18, 158);
}

.btn_connexion_submit{
    width: 100px;
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.form_end_login{
    display: flex;
    flex-direction: row;
}

.navbar-nav{
    display: flex;
    width: 97%;
    justify-content: flex-end;
}

.container_participant_accueil{
    display: flex;
    flex-direction: column;
    width: 96%;
    align-items: flex-end;
    font-weight: bolder;
}

.container_filter_accueil{
    width: 100%;
    width: 31%;
    margin-left: 2%;
}

.container_filter_category{
    display: flex;
    gap: 5%;
}

.category_filter_acceuil{
    height: 10%;
}

.container_search_accueil{
    display: flex;
    gap: 2%;
}

.container_date_accueil{
    display: flex;
    gap: 1%;
}

.date{
    height: 25px;
}

.container_checkbox_accueil{
    margin-top: 15%;
}

.two_container{
    display: flex;
}

.second_container_filter_accueil{
    display: flex;
}

.container_submit_acceuil input[type=submit]{
    position: absolute;
    width: 15%;
    height: 15%;
    top: 30%;
    right: 30%;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.container_submit_acceuil input[type=submit]:hover{
    background-color: rgb(8, 8, 189);
}

.tableau_container{
    background-color: #80808040;
    width: 95%;
    height: 260px;
    margin-left: 2%;
    border: 3px solid black;
    overflow-x: auto;
    display: flex;
}

.Nom_de_la_sortie{
    width: 13%;
    border-right: 3px solid black;
}

.title_tableau{
    background-color: #80808061;
    margin-bottom: 0%;
}

.result1_tableau{
    background-color: #8080803b;
    margin-bottom: 0%;
    height: 35px;
    padding-top: 4px;
}

.Nom_de_la_sortie p{
    margin-bottom: 0%;
    height: 35px;
    padding-top: 4px;
}

button{
    margin-top: 10px;
    margin-left: 2%;
    width: 15%;
    height: 60px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}

.btn_create_sortie input[type=submit]:hover{
    background-color: rgb(8, 8, 189);
}

.container_annuler_title{
    display: flex;
    justify-content: center;
}

.FormProfilDetails{
    width: 50%;
    margin-left: 30%;
    margin-top: 5%;
}

.Title_Profil{
    display: flex;
    justify-content: center;
}

.Formulaireannuler{
    width: 50%;
    margin-left: 30%;
    margin-top: 5%;
}

#profil{
    margin-left: 40%;
    margin-top: 5%;
    width: 30%;
}

#btn-title-profil{
    margin-left: 47%;
    margin-top: 2%;
}

.pseudo-label {
    margin-right: 163px; 
    margin-bottom: 2%;
}

.prenom-label{
    margin-right: 160px;
    margin-bottom: 2%;
}

.nom-label{
    margin-right: 180px;
    margin-bottom: 2%;
}

.telephone-label{
    margin-right: 142px;
    margin-bottom: 2%;
}

.email-label{
    margin-right: 177px;
    margin-bottom: 2%;
}

.first-password-label{
    margin-right: 52px;
    margin-bottom: 2%;
}
