{% extends 'base.html.twig' %}

{% block title %}Mon profil !{% endblock %}

{% block body %}

<h2 class="Title_Profil">{{ profilForm.pseudo.vars.value }}</h2>
    {{ form_start(profilForm) }}
      {{ form_widget(profilForm) }}
      <button id="btn-title-profil" type="submit" class="btn btn-primary">Enregistrer</button>
      {{ form_end(profilForm) }}



{% endblock %}
