{% extends 'base.html.twig' %}

{% block title %}Mon profil !{% endblock %}

{% block body %}

    <div style="background-image: url('images/image2.jpg')">
        <h2 class="text-center">{{ app.user.pseudo}}</h2>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <button id="btn-title-profil" type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(profilForm) }}
    </div>

{% endblock %}
