{% extends 'base.html.twig' %}

{% block title %}Annuler une sortir{% endblock %}

{% block body %}

    <div class="Formulaireannuler">
        <div class="container_annuler_title">
            <h3>Annuler une sortie</h3>
        </div>
        <div class="container_annuler_desc">
            <p>Nom de la sortie : Escalade</p>
            <p>Date de la sortie : 02/08/2023</p>
            <p>Campus : ST HERBLAIN</p>
            <p>Lieu : Pont Caf rue des campagnons 44900 Château-Thebaud</p>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Motif : </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>

{% endblock %}
