{% extends 'base.html.twig' %}

{% block title %}Annuler une sortir{% endblock %}

{% block body %}

    <div class="Formulaireannuler">
        <div class="container_annuler_title">
            <h3>Annuler une sortie</h3>
        </div>
        <div class="card">
            <div class="card-body">
                {{ form_start(annulerForm) }}
                {{ form_widget(annulerForm) }}
                <button type="submit">Enregistrer</button>
                <a href="{{ path('main_accueil') }}"><button type="button">Annuler</button></a>

                {{ form_end(annulerForm) }}
            </div>
        </div>
    </div>
    <script>
        const form = document.querySelector('form');
        form.addEventListener("submit", ()=>{
            confirm("Êtes-vous sûr.e de vouloir annuler cette sortie ?")
        })
    </script>
{% endblock %}
