{% extends 'base.html.twig' %}
{% block body %}
    <div>
        {{ form_start(creationForm)}}
        {{ form_widget(creationForm) }}
        <button>Enregistrer</button>
        <button>Publier</button>
        <button>Annuler</button>
        {{ form_end(creationForm)}}
    </div>
{% endblock %}

{% block title %}
    Create une nouvelle sortie
{% endblock %}